/* Project-specific styles
 * This is where site wide, general stuff goes
 * ____________________________________________________________ */

// Fonts and type
// ---------------------------------

// Google font import

@import url(//fonts.googleapis.com/css?family=Lato:300,400,700|Merriweather:400italic,400,700,700italic);

.lato {font-family: 'Lato', sans-serif;}
.merriweather {font-family: 'Merriweather', serif;}

html {
	font-size:16px;
	-webkit-text-size-adjust: none; /* don't allow iphone to resize this at landscape */
}

a {
	outline: 0;
}

h1,
.h1 {
	.lato;
}

h2,
.h2 {
	.lato;
}

h3,
.h3 {
	.merriweather;
}

p,
.p {
	.lato;
}

// Color Variables
// ---------------------------

@light-gray: #f8f8f8;

@light-blue: #E8F5F7;
@aqua: #7fadc6;
@dark-aqua: #6f6c7d;

@black: #222222;
@white:#ffffff;
@light-grey:#f1f1f1;
@grey:#989898;
@dark-grey:#666666;

@orange:#FF9900;
@dark-orange:#E66705;
@light-orange:#FFD79C;

@light-blue:#E8F5F7;


// More Variables
// ---------------------------

@standard-border-size: 6px;
@2x-standard-border-size: 2 * @standard-border-size;
@background: #f9f9f9;

// Markup
// ---------------------------

html,
body {
	width:100%;
	height:100%;
	background:@background;
}

// General layout
// ---------------------------------

.strip {

	width:100%;
	.border-box;

	// Clearfix hack
	// http://nicolasgallagher.com/micro-clearfix-hack/
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
	*zoom:1;
}

@max-width:800px;

.wrapper {
	width:100%;
	max-width:@max-width;
	margin:0 auto;
	.border-box;
}
