<!-- Send the user to the top -->
<!-- Style's in blog.less -->

<a class="strip  strip--scroll" id="scroll-top" onclick="_gaq.push(['_trackEvent', 'scroll-to-top', 'clicked'])">
	<p>Scroll to top &#8593;</p>
</a>

<!-- Begin footer -->

<footer class="strip">
	<div class="wrapper  grid">
		<div class="grid-col  span6  bio">
			<h3>About</h3>
			<p>
				Justin Barr Young designs and develops user experiences for web and mobile products.
			</p>
			<p>
				He's the principal UX designer and information architect (and occasional front-end developer) at <a href="http://mediatemple.net" title="Media Temple">Media Temple</a>, a webhosting and support provider. He designs and guides the creation of user experiences that make Media Temple's products easy and valuable for users. On the side, he designs and develops <a href="http://twowordsfor.com" title="Two Words For">Two Words For</a>, an online arts and literary magazine (and a constantly-changing work in progress).
			</p>
		</div>
		<div class="grid-col  span1  push1  contact">
			<h3>Contact</h3>
			<p>
				<a href="http://twitter.com/theJayBeeWhy" onclick="_gaq.push(['_trackEvent', 'twitter-footer', 'clicked'])">Twitter</a><br />
				<a href="mailto:justin@jay-bee-why.com"  onclick="_gaq.push(['_trackEvent', 'email-footer', 'clicked'])">Email</a>
			</p>
		</div>
		<div class="grid-col  span1  push1  contact">
			<h3>Links</h3>
			<p>
				<a href="http://www.linkedin.com/in/justinbarryoung" onclick="_gaq.push(['_trackEvent', 'linkedin-footer', 'clicked'])">LinkedIn</a><br />
				<a href="https://dribbble.com/jay-bee-why" onclick="_gaq.push(['_trackEvent', 'dribbble-footer', 'clicked'])">dribbble</a><br />
				<a href="https://github.com/jay-bee-why" onclick="_gaq.push(['_trackEvent', 'github-footer', 'clicked'])">Github</a><br />
				<a href="http://codepen.io/jay-bee-why/" onclick="_gaq.push(['_trackEvent', 'codepen-footer', 'clicked'])">CodePen</a>
			</p>
		</div>
	</div>
</footer>