<!-- Send the user to the top -->
<!-- Style's in blog.less -->

<a class="strip  strip--scroll" id="scroll-top" onclick="_gaq.push(['_trackEvent', 'scroll-to-top', 'clicked'])">
	<p>Scroll to top &#8593;</p>
</a>

<!-- Begin footer -->

<footer class="strip">
	<div class="wrapper  grid">
		<div class="grid-col  span6  bio">
			<h3>Info</h3>
			<p>
				<a href="{{ site.github.url }}/" title="Home">Justin Barr Young</a> is a product expert
				pushing pixels and code in sunny Los Angeles. For over a decade, he&rsquo;s been working,
				learning, and mentoring in the sweet spot where design thinking,
				technology, and business meet.
			</p>
		</div>
		<div class="grid-col  span1  push1  contact">
			<h3>Contact</h3>
			<p>
				<a href="mailto:justin@jbarr.co"  onclick="_gaq.push(['_trackEvent', 'email-footer', 'clicked'])">Email</a><br />
				<a href="http://twitter.com/theJayBeeWhy" onclick="_gaq.push(['_trackEvent', 'twitter-footer', 'clicked'])">Twitter</a>
			</p>
		</div>
		<div class="grid-col  span1  push1  contact">
			<h3>Links</h3>
			<p>
				<a href="http://www.linkedin.com/in/justinbarryoung" onclick="_gaq.push(['_trackEvent', 'linkedin-footer', 'clicked'])">LinkedIn</a><br />
				<a href="https://dribbble.com/jay-bee-why" onclick="_gaq.push(['_trackEvent', 'dribbble-footer', 'clicked'])">dribbble</a><br />
				<a href="https://github.com/jay-bee-why" onclick="_gaq.push(['_trackEvent', 'github-footer', 'clicked'])">Github</a><br />
				<a href="http://codepen.io/jay-bee-why/" onclick="_gaq.push(['_trackEvent', 'codepen-footer', 'clicked'])">CodePen</a>
			</p>
		</div>
	</div>
</footer>
