<header class="strip">

	<div class="strip">
		<div class="wrapper  grid">
			<div class="grid-col  span10  grid-col--nav">
				<h1><a href="/" onclick="_gaq.push(['_trackEvent', 'blog--header-home-link', 'clicked'])">Full-stack Design <span>Justin Barr Young</span></a></h1>
			</div>
			<div class="grid-col  span1  grid-col--nav  nav-link  nav-link--about">
				<a href="/" class="">About</a>
			</div>
			<div class="grid-col  span1  grid-col--nav  nav-link  nav-link--work">
				<a href="/blog" class="">Work</a>
			</div>
		</div>
	</div>	
	
 	
</header>