<header class="strip">

	<div class="strip">
		<div class="wrapper  grid">
			<div class="grid-col  span10  grid-col--nav  grid-col--nav--title">
				<h1><a href="{{ site.baseurl }}" onclick="_gaq.push(['_trackEvent', 'blog--header-home-link', 'clicked'])">Product Design <span>Justin Barr Young</span></a></h1>
			</div>
			<div class="grid-col  span1  grid-col--nav  nav-link  nav-link--about">
				<a href="{{ site.baseurl }}" class="">About</a>
			</div>
			<div class="grid-col  span1  grid-col--nav  nav-link  nav-link--work">
				<a href="{{ site.baseurl }}/work" class="">Work</a>
			</div>
		</div>
	</div>


</header>
