<!-- Above the fold content. -->
<!-- User sees this when they first load the page. -->
<! -- -------------------------------------------- -->

<div class="strip  home--above-fold  js-fullHeight">
	<div class="strip  strip--hero">
		<div class="wrapper  hero--container">
			<p class="h1">Hey, I'm Justin</p>
			<h1 class="p">I design and develop user experiences for web and mobile products. Find me on Twitter <a href="http://twitter.com/theJayBeeWhy"  target="_blank">@theJayBeeWhy</a>.</h1>
		</div>
	</div>
	
	<div class="strip  strip--icon">
		
		<div class="wrapper  icon--container">
		
			<a class="icon--unit  linkedin" href="http://www.linkedin.com/in/justinbarryoung" target="_blank">
				<div class="icon"></div>
				<div class="icon--text">
					<p class="h2">
						LinkedIn
					</p>
				</div>
			</a>
			
			<a class="icon--unit  dribbble"  href="http://dribbble.com/jay-bee-why" target="_blank">
				<div class="icon"></div>
				<div class="icon--text">
					<p class="h2">
						dribbble
					</p>
				</div>
			</a>
			
			<a class="icon--unit  github" href="https://github.com/jay-bee-why" target="_blank">
				<div class="icon">
					<!-- <div class="back-top"></div> -->
					<div class="back"></div>
					<!-- <img class="bubbles" src="img/2012/github-bubbles.png"/> -->
					<div class="bubbles"></div>
					<!-- <div class="back-bottom"></div> -->
					<div class="front"></div>
				</div>
				<div class="icon--text">
					<p class="h2">
						Github
					</p>
				</div>
			</a>
			
			<div class="icon--unit  projects">
				<div class="icon">
					<div class="back"></div>
					<div class="paper"></div>
					<!-- <img class="paper" src="img/projects-paper.png"/> -->
					<div class="front"></div>
				</div>
				<div class="icon--text">
					<p class="h2">
						Blog
					</p>
				</div>
				<div class="icon--text  under-construction">
					<p class="h2">
						(Under construction)
					</p>
				</div>
			</div>
			
			<a class="icon--unit  contact" href="mailto:justin@jay-bee-why.com">
				<div class="icon"></div>
				<div class="icon--text">
					<p class="h2">
						Email
					</p>
				</div>
			</a>
					
		</div>
	
	</div>
	
	<div class="strip  strip--intro  v1">
		<div class="wrapper  intro--container">
			<p>I'm the principal UX designer and information architect (and occasional front-end developer) at <a href="http://mediatemple.net" title="Media Temple">Media Temple</a>, a webhosting and support provider. I design and guide the creation of user experiences for all of Media Temple's products. On the side, I design and develop <a href="http://twowordsfor.com" title="Two Words For">Two Words For</a>, an online arts and literary magazine (and a constantly-changing work in progress). I write for the <a href="http://mediatemple.net/blog/tips/building-an-animated-web-project-using-a-javascript-timeline/" title="Blog post at Media Temple">Media Temple blog</a> and I've been featured in Mention's <a href="http://blog.mention.com/a-field-guide-to-design-where-to-begin/" title="Mention blog">Field Guide To Design</a>.</p>
		</div>
		
	</div>
	
	<!--
<button class="learn-more">
		Learn more
	</button>
-->
	<a class="strip  strip--footer" id="scroll-top">
		<p>Back to top</p>
	</a>
	
</div>
