<!-- Above the fold content. -->
<!-- User sees this when they first load the page. -->
<!-- -->

<div class="strip  strip--intro">
	<div class="wrapper  grid">
		<div class="grid-row">
			<div class="grid-col  span12">
				<h1>Hey, I&rsquo;m Justin</p>
				<h1 class="subtitle">
					I&rsquo;m a design-driven product manager for web and mobile apps.&nbsp;<br>
					Say &ldquo;hey&rdquo; back at <a href="mailto:justin@jbarr.co"   target="_blank" onclick="_gaq.push(['_trackEvent', 'home--email-hero', 'clicked'])">justin@jbarr.co</a>
				</h1>

					<p>
						<img class="" src="{{ site.github.url }}/images/whiteboard.png" />
					</p>

					<p>
						Through design-thinking, close collaboration, and lots of curiosity,
						I turn complex ideas into friendly user experiences for startups and
						enterprise teams alike.
						<br>
						<br>
						Currently, I&rsquo;m a Product and Design Lead at <a href="http://signalsciences.com" title="Signal Sciences homepage">Signal Sciences</a>,
						a cybersecurity startup protecting apps and servers from hacking and other malicious traffic.
						Previously, I was a Product Designer at <a href="http://carbonfive.com" title="Carbon Five homepage">Carbon Five</a>
						(a design and development agency), and a UX Architect at <a href="http://mediatemple.net" title="Media Temple">Media Temple</a> in Los Angeles.
						<br>
						<br>
						I&rsquo;ve written,
						talked, and presented on subjects such as Agile design, chatbots, UX sketching,
						and working as a <a href="http://mediatemple.net/blog/news/improving-your-ux-process-five-strategies-for-making-order-out-of-chaos/" title="Improving Your UX Process blog post">UX team of one</a>.
					</p>
			</div>
		</div>
	</div>
</div>

<div class="strip--cta">
	<div class="wrapper grid">
		<div class="grid-col  span12">
			<p class="cta  cta--right">
	        <a href="{{ site.baseurl }}/work" onclick="_gaq.push(['_trackEvent', 'back-to-work', 'clicked'])">See my work <span>&#8594;</span></a>
	    </p>
		</div>
	</div>
</div>
